.hero {
  text-align: center;
  padding: 4em 0;
}
.hero-image {
  max-width: 100%;
}
.herobuttons {
  padding-top: 1em;
}
.menu {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  height: 100vh;
  background: rgba(47,53,79,0.9);
  transform: translateY(-50px);
  transition: 0.3s transform, 0.3s opacity;
  will-change: transform;
}
.menu ul {
  padding: 0;
  list-style: none;
}
.menu li {
  border-top: 1px solid var(--grayishBlue);
}
.menu li:last-child a {
  border: 2px solid #fff;
  margin-top: 1em;
  border-radius: 5px;
  padding: 0.7em;
}
.menu a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding: 1em;
  letter-spacing: 2.2px;
}
.menu-open {
  user-select: none;
  width: 40px;
  height: 40px;
  display: inline-flex;
  cursor: pointer;
  background: url("../images/icon-hamburger.svg") no-repeat center;
}
.menu-checkbox {
  display: none;
}
.header {
  background: #fff;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 1em 0;
  transition: 0.3s background;
  z-index: 2;
}
.header-logo {
  display: inline-flex;
  width: 150px;
  height: 40px;
  background: url("../images/logo-bookmark.svg") no-repeat center;
  background-size: contain;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tabs {
  margin-top: 2em;
  border-top: 1px solid var(--grayishBlue);
}
.tabs-link {
  border-bottom: 1px solid var(--grayishBlue);
}
.tabs-content {
  display: none;
}
.tabs-content img {
  max-width: 100%;
  margin-bottom: 1.5em;
}
.tabs-grid {
  margin-top: 4em;
}
.tabs label {
  padding: 1em 0;
  display: block;
  position: relative;
}
.tabs label:after {
  display: none;
  content: "";
  height: 5px;
  position: absolute;
  bottom: 0;
  width: 50%;
  left: 0;
  transform: translate(50%);
  box-shadow: inset 0 -10px 0px -5px #f00;
}
.tabs input {
  display: none;
}
.tabs input[id="bookmarking"]:checked ~ ul [for="bookmarking"]:after {
  display: block;
}
.tabs input[id="bookmarking"]:checked ~ .tabs-grid #tab-bookmarking {
  display: block;
}
.tabs input[id="searching"]:checked ~ ul [for="searching"]:after {
  display: block;
}
.tabs input[id="searching"]:checked ~ .tabs-grid #tab-searching {
  display: block;
}
.tabs input[id="sharing"]:checked ~ ul [for="sharing"]:after {
  display: block;
}
.tabs input[id="sharing"]:checked ~ .tabs-grid #tab-sharing {
  display: block;
}
.features {
  text-align: center;
  padding: 3em 0;
}
.download {
  text-align: center;
  padding: 3em 0;
}
.download .u-wrapper > .u-p {
  margin-bottom: 3em;
}
.download-grid {
  margin-top: 3em;
  display: grid;
  grid-row-gap: 2em;
  margin: 0 1em;
}
.download-item {
  box-shadow: 0 10px 11px -5px rgba(83,104,223,0.3);
  border-radius: 1em;
  padding: 1.5em;
  background: url("../images/bg-dots.svg") repeat-x center bottom 100px;
}
.download .u-p {
  margin-bottom: 4em;
  margin-top: 0.5em;
}
.download .u-h3 {
  margin-bottom: 0.5em;
  margin-top: 1.5em;
}
:root {
  --softBlue: #5368df;
  --softRed: #fa5757;
  --grayishBlue: #9194a1;
  --veryDarkBlue: #252b46;
}
body {
  font-family: 'Rubik', sans-serif;
  color: var(--veryDarkBlue);
  margin: 0;
  font-size: 18px;
}
ul {
  padding: 0;
  list-style: none;
  margin: 0;
}
.u-wrapper {
  max-width: 1280px;
  margin: auto;
  padding: 0 1em;
}
.u-h1,
.u-h2 {
  font-size: 2em;
  font-weight: 500;
}
.u-h2 {
  font-size: 1.5em;
}
.u-p {
  color: var(--grayishBlue);
  line-height: 1.8;
  font-size: 0.9em;
}
.u-button {
  background: var(--softBlue);
  color: #fff;
  padding: 1em 1em;
  font-size: 0.9em;
  font-weight: 500;
  border-radius: 0.5em;
  margin-left: 0.5em;
  border: none;
  cursor: pointer;
  box-shadow: 0 5px 10px -4px var(--softBlue);
}
.u-button:first-of-type {
  margin: 0;
}
.u-button.is-gray {
  color: var(--veryDarkBlue);
  background: #f7f7f7;
}
.u-button.is-fullWidth {
  width: 100%;
}
