@import './menu.styl'

.header 
    border: 1px solid blue   
    background: white 
    //position relative
    position: fixed
    left: 0
    right: 0
    padding: 2em 0
    &__logo
        display: inline-flex
        width: 100px
        height: 50px
        border: 1px solid red 
        background: url('../images/logo-bookmark.svg') no-repeat center
    &-content  
        display: flex
        justify-content: space-between
        align-items: center
